<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="Catalogo">
    <header>
        <nav>
            <img src="./IMG/Logo.png" alt="Logo" class="Logo">
            <ul>
                <li><a href="Home.html">Inicio</a></li>  
            </ul>
        </nav>
    </header>
    <h2 class="titulo">Catalogo de productos</h2>
    <div class="container">
        <div class="caja producto1"><img src="IMG/producto1.webp"><p>Pestañina</p><p>Precio: $4.000</p></div>
        <div class="caja producto2"><img src="IMG/producto2.webp"><p>Esmaltes</p><p>Precio: $4.000</p></div>
        <div class="caja producto3"><img src="IMG/producto3.png"><p>Polvos</p><p>Precio: $4.000</p></div>
        <div class="caja producto4"><img src="IMG/producto4.png"><p>Uñas postizas</p><p>Precio: $4.000</p></div>
</div>
</body>
</html>