<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body id="Base">
  <div class="contenedor">

    <div class="contariner1">
        <div class="sidebar1">
            <div class="menu1-boton">
                <i class="bi bi-chevron-right"></i>
            </div>
            <div class="head1">
                <div class="logo-img">
                    <img src="{{ url_for('static', filename='IMG/logo.1.jfif')}}" alt="">
                </div>
                    <div class="logo-detalles">
                        <p class="titulo1os">Anguie Studio</p>
                    </div>
            </div>
            <div class="nav1">
                <div class="menu1">
                    <p class="title1">Menú</p>
                    <ul>
                        <li class="activeos">
                            <a href="{% if 'logueado' in session and session['logueado'] %}{% if session.get('id_rol') == 1 %}{{ url_for('admin') }}{% elif session.get('id_rol') == 2 %}{{ url_for('Empleado') }}{% elif session.get('id_rol') == 3 %}{{ url_for('Cliente') }}{% endif %}{% else %}{{ url_for('home') }}{% endif %}">
                                <i class="iconoos bi bi-house-door"></i>
                                    <span class="textoos">Home</span>
                            </a>
                        </li>
                        <li >
                            <a href="{{ url_for('Citas')}}">
                                <i class="iconoos bi bi-envelope"></i>
                                    <span class="textoos">Citas</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconoos bi bi-box2"></i>
                                    <span class="textoos">inventario</span>
                                <i class="flecha bi bi-caret-down"></i>
                            </a>
                            <ul class="sub-menu1">
                                <li>
                                    <a href="{{ url_for('inventario')}}">
                                        <span class="textoos">Inventario</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('Entradas') }}">
                                        <span class="textoos">Ver entradas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('Salidas') }}">
                                        <span class="textoos">Ver salidas</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('Novedades') }}">
                                        <span class="textoos">Ver novedades</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ url_for('Home_Catalogo')}}">
                                <i class="iconoos bi bi-journal-bookmark-fill"></i>
                                    <span class="textoos">Catalogo</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('Registrar_Empleado')}}">
                                <i class="iconoos bi bi-people-fill"></i>
                                    <span class="textoos">Agregar empleado</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu1">
                    <p class="title1">Cuenta</p>
                    <ul>
                        <li >
                            <a href="{{ url_for('actualizar_cuenta')}}">
                                <i class="iconoos i bi-person"></i>
                                    <span class="textoos">Perfil</span>
                            </a>
                        </li>
                        <li >
                </div>
            </div>
            <div class="menu1">
                <p class="title1">Ajustes</p>
                <ul>
                    <li >
                        <a href="{{ url_for('home')}}">
                            <i class="iconoos bi bi-box-arrow-left"></i>
                                <span class="textoos">Cerrar sesion</span>
                        </a>
                    </li>
                    <li >
            </div>
        </div>
    </div> 
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a href="{% if 'logueado' in session and session['logueado'] %}{% if session.get('id_rol') == 1 %}{{ url_for('admin') }}{% elif session.get('id_rol') == 2 %}{{ url_for('Empleado') }}{% elif session.get('id_rol') == 3 %}{{ url_for('Cliente') }}{% endif %}{% else %}{{ url_for('home') }}{% endif %}">
            <i class="fas fa-home"></i>
            <span class="nav-item">Angie Studio</span>
        </a>
        <br>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('Home_Catalogo')}}">Inicio</a>
              </li>
              {% if 'logueado' in session and session['logueado'] %}
                {% if session.get('id_rol') != 3 %}
                  <li class="nav-item">
                    <a class="nav-link" href="/product_actions">Administrar productos</a>
                  </li>
                {% endif %}
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="/cart">Carrito</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container text-center my-3">
        <h1><em>Catálogo</em></h1>
    </div>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>