<html lang="en">

<head>
    <title>Recuperar contraseña</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Eldoret Bus Park</title>
    <!-- Bootstrap core CSS-->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="static/css/css/sb-admin.css" rel="stylesheet">
    <!-- <link rel="icon" href="images/aaa.jpg" type="image/jpg"> -->
    <link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="icon" href="../static/IMG/Uñas-icono.png">
</head>
<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Reset Password</div>
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Forgot your password?</h4>
                <p>Enter your Username and we will guide you on how to reset your password.</p>
            </div>
            <form action="" method="post">
                <div class="form-group">
                    <input class="form-control" name="txtCorreo" required="required" id="exampleInputEmail1" type="email"
                        aria-describedby="emailHelp" value="{{request.form.txtCorreo }}" placeholder="Correo electronico">
                </div>
                <br>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block" name="submit" value="Reset Password">
                </div>
            </form>
            {% if error %}
            <div class="form-group">
                <div class="alert alert-danger bg-danger"><h3 class="blink_text">No Record Found</h3></div>
            </div>
            {% endif %}

            <div class="text-center">
                <a class="d-block small" href="{{ url_for ('login') }}">Back to Login</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>
</html>