<!DOCTYPE html>
<html lang="es">
<head>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
      <title>Angie Studio</title>
      <meta content="" name="description">
      <meta content="" name="keywords">
      <link href="{{ url_for('static', filename='IMG/Logo1(3)') }}" rel="icon">
      <link href="{{ url_for('static', filename='IMG/apple-touch-icon.png') }}" rel="apple-touch-icon">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link rel="icon" href="../static/IMG/Uñas-icono.png">
</head>
<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:angiestudio@gmail.com">angiestudio@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo" style="max-height: 100px;"><a href="index.html"><img src="{{url_for('static', filename='IMG/logo.1.jfif')}}" alt="Logo"></a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#main">Cuidados</a></li>
          <li><a class="nav-link scrollto" href="#about">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="#services">Servicios</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Catalogo</a></li>
          <li><a class="nav-link scrollto" href="#team">Equipo</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contactanos</a></li>
          <li><a class="nav-link scrollto active" href="{{ url_for('login') }}">Log-in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Bienvenidos a <span>Angie Studio</span></h1>
      <h2>Empresa de belleza con diferentes servicios</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Conoce mas</a>
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Observar video</span></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
          <h3>Cuidados</h3>
          <div class="row">
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                      <div class="icon"><img src="{{url_for('static', filename='IMG/hidratacion1.jpg')}}" alt=""></div>
                      <h4 class="title"><a href="">Hidratación</a></h4>
                      <p class="description">Su función principal es proteger la piel de la deshidratación, de la radiación solar, así como de factores físicos y químicos externos.</p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                      <div class="icon"><img src="{{url_for('static', filename='IMG/limpieza.jpeg')}}" alt=""></div>
                      <h4 class="title"><a href="">Limpieza diaria</a></h4>
                      <p class="description">Debes desmaquillar tu piel y limpiarla con una leche limpiadora y un tónico, así conseguirás eliminar la impurezas y mantener la piel sana y joven.</p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                      <div class="icon"><img src="{{url_for('static', filename='IMG/Dieta.webp')}}" alt=""></div>
                      <h4 class="title"><a href="">Dieta</a></h4>
                      <p class="description">Alimentarse saludablemente dijiriendo productos saludables como frutas, verduras y en lo posible evitar no comer grasas saturadas.</p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                  <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                      <div class="icon"><img src="{{url_for('static', filename='IMG/protector.jpeg')}}" alt=""></div>
                      <h4 class="title"><a href="">Protección solar</a></h4>
                      <p class="description">Los protectores solares son agentes que ayudan a prevenir que los rayos ultravioletas (UV) lleguen a la piel. Existen dos tipos de radiación ultravioleta, los rayos UVA y los rayos UVB, los cuales causan daños a la piel y aumentan el riesgo de cáncer de piel.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">
          <div class="section-title">
              <h2>Nosotros</h2>
              <h3>Conoce más de <span>Angie Studio</span></h3>
              <p>Empresa del sector de belleza con varios servicios entre los más destacados el manicure</p>
          </div>
          <div class="row">
              <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                  <img src="{{url_for('static', filename='img/about.jpg')}}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                  <h3>Salón de belleza con diferentes especializaciones y las diferentes técnicas de belleza.</h3>
                  <p class="fst-italic">Angie studio slash brown S.A.</p>
                  <ul>
                      <li>
                          <i class="bx bx-store-alt"></i>
                          <div>
                              <h5>Sucursales</h5>
                              <p>Contamos con dos salones de belleza con especializaciones del sector de belleza.</p>
                          </div>
                      </li>
                      <li>
                          <i class="bx bx-images"></i>
                          <div>
                              <h5>Imágenes</h5>
                              <p>Conoce más de nosotros a través de las fotos de nuestros profesionales y servicios.</p>
                          </div>
                      </li>
                  </ul>
                  <p>Contamos con decoración de primera al igual que con profesionales como estilistas, manicuristas y demás.</p>
              </div>
          </div>
      </div>
  </section>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Servicios</h2>
          <h3>Nuestros <span>Servicios</span></h3>
          <p>Podras oberservar nuestro catalogo para tus cuidados de piel y podras apartar productos si inicias sesion.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for('static', filename='IMG/pestañina.jpg') }}" alt=""></div>
              <h4><a href="">Efecto pestañina</a></h4>
              <p>Se realizan acabados de pestañas y su aplicación tiene varios efectos que contribuyen a embellecer los ojos y mejorar la expresión facial.</p>
          </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for('static', filename='IMG/hibrido.webp')}}" alt=""></div>
              <h4><a href="">Efecto Hibrido</a></h4>
              <p>se combina lo mejor de la experiencia tradicional de cuidado personal con elementos modernos y tecnológicos para ofrecer a los clientes un enfoque más completo y personalizado.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for('static', filename='IMG/brasileño.webp')}}" alt=""></div>
              <h4><a href="">Volumen brasileño</a></h4>
              <p>Este procedimiento es popular por su capacidad para transformar el cabello, brindando un aspecto más completo y saludable. </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for('static', filename='IMG/liftin.png')}}" alt=""></div>
              <h4><a href="">Lifting de pestañas</a></h4>
              <p>Tiene como objetivo realzar y dar forma a las pestañas naturales, proporcionando una apariencia más abierta y elevada a los ojos.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for('static', filename='IMG/epilacion.jpg')}}" alt=""></div>
              <h4><a href="">Diseño de epilación de cejas</a></h4>
              <p>
                El diseño de epilación de cejas en un salón de belleza es un servicio especializado destinado a mejorar la forma y apariencia de las cejas de los clientes.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for('static', filename='IMG/semipermanente.png')}}" alt=""></div>
              <h4><a href="">Diseño, epilación y pigmentacion semipermanente de cejas</a></h4>
              <p>El diseño, epilación y pigmentación semipermanente de cejas es un conjunto de servicios especializados que se ofrecen en un salón de belleza con el objetivo de mejorar la forma, apariencia y definición de las cejas de los clientes. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for('static', filename='IMG/manicura.jpg')}}" alt=""></div>
              <h4><a href="">Manicure</a></h4>
              <p>La manicura no solo implica el cuidado estético de las uñas, sino también la atención a la piel circundante y, en algunos casos, la aplicación de esmalte para realzar aún más la apariencia. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><img src="{{url_for('static', filename='IMG/pelo.jpg')}}" alt=""></div>
              <h4><a href="">Corte de pelo</a></h4>
              <p>
                Un corte de pelo en un salón de belleza es un servicio especializado que implica la manipulación y diseño de la longitud, forma y estilo del cabello de una persona. </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='IMG/testimonials/testimonials-1.jpg') }}" assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Manicurista</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Profecional en el area de manicurista con conocimientos y habilidades unicas las cuales hacen de nuestro manicurista uno de los mejores.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='IMG/testimonials/testimonials-2.jpg') }}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Estilista</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Nuestro estilista posee habilidades tecnicas avanzadas de corte de cabello peinados coloracion y tratamientos capilares relacionados con el pelo.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='IMG/testimonials/testimonials-3.jpg') }}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Peluquero</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Profecional con el cuidado de cabelllo y ofrece una variedad de servicios par pejorar la apariencia estetica de los clientes.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='IMG/testimonials/testimonials-4.jpg') }}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Estilista</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Nuestro estilista posee habilidades tecnicas avanzadas de corte de cabello peinados coloracion y tratamientos capilares relacionados con el pelo.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{ url_for('static', filename='IMG/testimonials/testimonials-5.jpg') }}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Peluquero</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Profecional con el cuidado de cabelllo y ofrece una variedad de servicios par pejorar la apariencia estetica de los clientes.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Catalogo</h2>
          <h3>Observa nuestro <span>Catalogo</span></h3>
          <p>Diferentes productos para el cuidado de la piel y demas.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Todos</li>
              <li data-filter=".filter-app">Perfumes</li>
              <li data-filter=".filter-card">Cremas</li>
              <li data-filter=".filter-web">Bases</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{url_for('static', filename='IMG/portfolio/portfolio-1.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Producto 1</h4>
              <p>Perfume marca clarins</p>
              <a href="{{url_for('static', filename='IMG/portfolio/portfolio-1.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{{url_for('static', filename='IMG/portfolio/portfolio-2.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Producto 2</h4>
              <p>Web</p>
              <a href="{{url_for('static', filename='IMG/portfolio/portfolio-2.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{url_for('static', filename='IMG/portfolio/portfolio-3.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Producto 3</h4>
              <p>App</p>
              <a href="{{url_for('static', filename='IMG/portfolio/portfolio-3.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{{url_for('static', filename='IMG/portfolio/portfolio-4.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Producto 4</h4>
              <p>Card</p>
              <a href="{{url_for('static', filename='IMG/portfolio/portfolio-4.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{{url_for('static', filename='IMG/portfolio/portfolio-5.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Producto 5</h4>
              <p>Web</p>
              <a href="{{url_for('static', filename='IMG/portfolio/portfolio-5.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{url_for('static', filename='IMG/portfolio/portfolio-6.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Producto 6</h4>
              <p>App</p>
              <a href="{{url_for('static', filename='IMG/portfolio/portfolio-6.jpg')}}"" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{{url_for('static', filename='IMG/portfolio/portfolio-7.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Producto 7</h4>
              <p>Card</p>
              <a href="{{url_for('static', filename='IMG/portfolio/portfolio-7.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{{url_for('static', filename='IMG/portfolio/portfolio-8.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Producto 8</h4>
              <p>Card</p>
              <a href="{{url_for('static', filename='IMG/portfolio/portfolio-8.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{{url_for('static', filename='IMG/portfolio/portfolio-9.jpg')}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Producto 9</h4>
              <p>Web</p>
              <a href="{{url_for('static', filename='IMG/portfolio/portfolio-9.jpg')}}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Equipo</h2>
          <h3>Nuestro equipo de <span>Desarolladores</span></h3>
          <p>Nuestro equipo de desarollo esta confomado por 3 personas</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static', filename='IMG/team/team-1.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dilan Jimenez</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static', filename='IMG/team/team-2.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Wendy Huertas</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

  

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static', filename='IMG/team/team-4.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>...</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Questions</h2>
          <h3>Preguntas <span>Frecuentes</span></h3>
          <p>Aqui algunas de las preguntas frecuentes recibidas por nuestros clientes.</p>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <ul class="faq-list">
              <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">¿Cual es el precio de sus servicios? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Precios accesibles al cliente variando del servicio que se le haga.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">¿Cuánto tiempo de antelación debo reservar una cita? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Puedes reservar citas hasta con 5 dias de antelacion pero ten en cuenta que si se llega el dia y no vas se cancelara tu cita automaticamente.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">¿Tienen ofertas especiales o programas de lealtad?? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Por el momento no estamos ofreciento odertas especiales o programas de lealtad.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">¿Puedo traer a mis hijos al salón? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Claro pudes trer a tus hijos siempre y cuand no intervengan en el trabajo de nuestros profecionales.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">¿Ofrecen servicios para eventos especiales? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Estamos pensando en la posibilidad de agregar servicios con tematicas especiales para diferentes eventos.
                  </p>
                </div>
              </li>

              <li>
                <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">¿Trabajan con productos específicos? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                  <p>
                    Los productos con los que trabajamos estan incluidos en el catalogo donde prodras observar la variedad de nuestros productos.
                  </p>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>
          <h3><span>Contactanos</span></h3>
          <p>Contactanos o ubicanos te dejamos nuestra sede principal correo y direccion.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Direccion</h3>
              <p>Cra 123 #12 30 Sur</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Correo</h3>
              <p>angiestudio@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Telefono</h3>
              <p>+57 3313 1231 456</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Primer nombre" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Tu correo" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujeto" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar mensaje</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Envianos tu correo con tu opinion</h4>
            <p>Envianos tus opiniones registrando el correo.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Correo">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Angie studio<span>.</span></h3>
            <p>
              Cra 123 #12 30 Sur<br>
              Colombia <br><br>
              <strong>Telefono:</strong> +57 3313 1231 456<br>
              <strong>Correo:</strong> angiestudio@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cuidados</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Nosotros</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Catalogo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Equipo</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contactos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Inicia sesion</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Servicios</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Efecto pestañina</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Efecto hibrido</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Volumen brasileño</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Lifting de pestañas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Diseño de epilación de cejas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Diseño, epilación y pigmentacion semipermanente de cejas</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Manicure</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Corte de pelo</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Redes sociales</h4>
            <p>Aqui algunas de nuestras redes la cual puedes buscar y preguntar por nosotros.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='vendor/purecounter/purecounter_vanilla.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/waypoints/noframework.waypoints.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>