<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#C1FF33">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   
    <link rel="icon" href="../static/IMG/Uñas-icono.png"> 
    <style>
        /* Estilo para inputs inválidos */
        input:invalid {
            border-color: red;
        }
    </style>
</head>

<body id="Login">
<div class="container">
    <div class="information">
        <div class="info-first-part">
            <h2>Bienvenido</h2> 
            <p>Si no tienes una cuenta regístrate</p> 
            <a href="/registro"><input type="button" value="Registrarse"></a>
        </div>
        <div class="form-information">
            <div class="form-information-seconds">
                <form class="form" action="acceso-login" method="post">
                    {% if mensaje %}
                    {{mensaje}}
                    {% endif %}
                    <img src="{{url_for('static', filename='IMG/logo.1.jfif')}}" class="logo">
                    <h2>Iniciar Sesión</h2>
                    <div class="icons">
                        <i class='bx bxl-google'></i>
                    </div>
                    <label>
                        <i class='bx bx-envelope'></i>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico" name="txtCorreo" required>
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </label>
                    <label for="exampleInputPassword1" style="position: relative;">
                        <i class='bx bx-lock'></i>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="txtPassword">
                        <i class="bx bx-show" id="togglePassword" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); font-size: 1.5em; cursor: pointer;"></i>
                    </label>
                    <li id="contraseña"><a href="{{ url_for ('forgot') }}">¿Olvidaste tu contraseña?</a></li>
                    <br>
                    <input type="submit" value="Iniciar sesión">
                </form>
            </div>
        </div>
    </div>
    </div>
    <button id="volver"><a href="{{ url_for ('home')}}">Volver</a></button>

    <script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('exampleInputPassword1');
    
        togglePassword.addEventListener('click', function() {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.classList.toggle('bx-show'); 
            this.classList.toggle('bx-hide'); 
        });
    </script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("form").addEventListener("submit", function(event){
            var contrasena = document.getElementById("exampleInputPassword1").value;
            var mensaje = document.getElementById("mensaje");

            // Comprobar si la contraseña tiene al menos 8 caracteres
            if (contrasena.length < 8) {
                mensaje.textContent = "La contraseña debe tener al menos 8 caracteres.";
                event.preventDefault();
                return;
            }

            // Comprobar si la contraseña contiene al menos una mayúscula
            if (!/[A-Z]/.test(contrasena)) {
                mensaje.textContent = "La contraseña debe contener al menos una mayúscula.";
                event.preventDefault();
                return;
            }

            // Comprobar si la contraseña contiene al menos un caracter especial
            if (!/[^A-Za-z0-9]/.test(contrasena)) {
                mensaje.textContent = "La contraseña debe contener al menos un caracter especial.";
                event.preventDefault();
                return;
            }
        });
    });
</script>
</body>
</html>
