<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#C1FF33">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   
    <link rel="icon" href="../static/IMG/Uñas-icono.png"> 
</head>

<body id="Login">
<div class="container">
    <div class="information">
        <div class="info-first-part">
            <h2>Bienvenido</h2> 
            <p>Si no tienes una cuenta regístrate</p> 
            <a href="/registro"><input type="button" value="Registrarse"></a>
        </div>
        <div class="form-information">
            <div class="form-information-seconds">
                <form class="form" action="acceso-login" method="post">
                    {% if mensaje %}
                    {{mensaje}}
                    {% endif %}
                    <img src="{{url_for('static', filename='IMG/logo.1.jfif')}}" class="logo">
                    <h2>Iniciar Sesión</h2>
                    <div class="icons">
                        <i class='bx bxl-google'></i>
                        <i class='bx bxl-instagram'></i>
                    </div>
                    <label>
                        <i class='bx bx-envelope'></i>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico" name="txtCorreo" required>
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </label>
                    <label>
                        <i class='bx bx-lock'></i>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" name="txtPassword">
                    </label>
                    <li id="contraseña"><a href="{{ url_for ('forgot') }}">¿Olvidaste tu contraseña?</a></li>
                    <br>
                    <input type="submit" value="Iniciar sesión">
                </form>
            </div>
        </div>
    </div>
    </div>
    <button id="volver"><a href="{{ url_for ('home')}}">Volver</a></button>
</body>
</html>
