</html><html lang="en">
<head>
    <title>Nueva contraseña</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/IMG/Uñas-icono.png"> 

    <!-- Links para los estilos -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/css/sb-admin.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='IMG/Uñas-icono.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    

</head>
<body id="NewPass">
<div class="container pt-5">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <img src="{{url_for('static', filename='IMG/newPass.svg')}}" alt="Main IMG" class="img-fluid">
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 pt-5">
            <div class="text-center mt-4 mb-5">
                <h1 class="main-text pt-5 mt-5"><p>Ingresa tu nueva contraseña</p></h1>

                <form action="" method="post">
                    <div class="form-group">
                        <input class="form-control main-input mt-5" name="newpass" required="required" id="exampleInputEmail1" type="password"
                            aria-describedby="emailHelp" value="{{request.form.newpass }}" placeholder="Nueva Contraseña">
                    </div>
                    <br>
                    <div class="form-group">
                            <input class="form-control main-input mt-5" name="conpass" required="required" id="exampleInputEmail1" type="password"
                            aria-describedby="emailHelp" value="{{request.form.conpass }}" placeholder="Confirmar Contraseña">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" class="botin btn btn-sz-primary mt-5" name="submit" value="Confirmar">
                    </div>
                </form>

            </div>
            
            {% if error %}
            <div class="form-group">
                <div class="alert alert-danger bg-danger"><h3 class="blink_text"> {{ error }}</div>
            </div>
            {% endif %}

            <div class="text-center">
                <a class="d-block small" href="{{ url_for('login') }}">Volver al inicio</a>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript de boostrap-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Puglin del js-->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
</body>
</html>