<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novedades</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <!-- Icono de la pestaña de inicio -->
    <link rel="icon" href="/static/IMG/inventario.png">
    <!-- Links de estilos -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Estilos integrados -->
    <style>
        /* Estilo personalizado */
        .container {
            margin-top: 20px;
        }
        .btn-back {
            margin-bottom: 20px;
        }
        .title-container {
            text-align: center;
        }
    </style>
</head>
<body id="Novedades">
    <div class="contenedor">
        <nav>
            <ul>
                <a href="#" class="logo">
                    <span class="nav-item">Novedades</span>
                </a>
                <a href="{{ url_for('admin')}}">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Home</span>
                </a>
                <a href="">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">Citas</span>
                </a>
                <a href="{{ url_for('inventario')}}">
                    <i class="fas fa-wallet"></i>
                    <span class="nav-item">Inventario</span>
                </a>
                <a href="{{ url_for('Home_Catalogo')}}">
                    <i class="fas fa-chart-bar"></i>
                    <span class="nav-item">Catalogo</span>
                </a>
                <a href="{{ url_for('Registrar_Empleado')}}">
                    <i class="fas fa-tasks"></i>
                    <span class="nav-item">Agregar empleado</span>
                </a>
                <a href="{{ url_for('actualizar_cuenta')}}">
                    <i class="fas fa-cog"></i>
                    <span class="nav-item">Perfil</span>
                </a>
                <a href="{{ url_for('home')}}" class="logout">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Log out</span>
                </a>
            </ul>
        </nav>
    <br>
    
    <div class="container title-container">
        <h1>Novedades de entrada</h1>
    </div>
    
    <!-- Formulario de búsqueda -->
    <div class="container">
        <form action="/Novedades" method="get">
            <div class="form-group">
                <label for="Id_Producto">Buscar por codigo del producto:</label>
                <input type="text" class="form-control" id="Id_Producto" name="Id_Producto" placeholder="Buscar...">
            </div>
            <br>
            <div class="form-group">
                <label for="Marca">Buscar por marca:</label>
                <select class="form-control" id="Marca" name="Marca">
                    <option value="">Seleccionar marca</option>
                    {% for marca in marcas %}
                        <option value="{{ marca['Marca'] }}">{{ marca['Marca'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
    
    <!-- Tabla -->
    <div class="container">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Id_Producto</th>
                    <th>Fecha de ingreso</th>
                    <th>Nombre</th>
                    <th>Marca</th>
                    <th>Precio por unidad</th>
                    <th>Fecha de vencimiento</th>
                    <th>Cantidad_Actual</th>
                    <th>Entrada_Inicial</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                {% for novedad in novedades %}
                    <tr>                       
                        <td>{{ novedad['Id_Producto'] }}</td>
                        <td>{{ novedad['Fecha_Ingreso'] }}</td>
                        <td>{{ novedad['Nombre'] }}</td>
                        <td>{{ novedad['Marca'] }}</td>
                        <td>{{ novedad['Precio'] }}</td>
                        <td>{{ novedad['Fecha_Vencimiento'] }}</td>
                        <td>{{ novedad['Cantidad_Actual'] }}</td> 
                        <td>{{ novedad['Entrada'] }}</td>
                        <td>{{ novedad['Entrada'] - novedad['Cantidad_Actual'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        function mostrarLista() {
            var lista = document.getElementById("listaInventario");
            if (lista.style.display === "block") {
                lista.style.display = "none";
            } else {
                lista.style.display = "block";
            }
        }
    </script>

    <!-- Scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
