
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="icon" href="../static/IMG/Uñas-icono.png"> 
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Incluye la librería de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <!-- Incluye los estilos de DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"/>
    <link href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/plug-ins/1.11.5/i18n/Spanish.json"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">   
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <title>Agregar empleado</title>
</head>
<body id="Empleado">
    <ul class="custom-notifications"></ul>
    <div class="citasas">
    <div class="content">
        <div class="contenedor">
            <div class="contariner1">
                <div class="sidebar1">
                    <div class="menu1-boton">
                        <i class="bi bi-chevron-right"></i>
                    </div>
                    <div class="head1">
                        <div class="logo-img">
                            <img src="{{ url_for('static', filename='IMG/logo.1.jfif')}}" alt="">
                        </div>
                            <div class="logo-detalles">
                                <p class="titulo1os">Anguie Studio</p>
                            </div>
                    </div>
                    <div class="nav1">
                        <div class="menu1">
                            <p class="title1">Menú</p>
                            <ul>
                                <li>
                                    <a href="{% if 'logueado' in session and session['logueado'] %}{% if session.get('id_rol') == 1 %}{{ url_for('Administrador') }}{% elif session.get('id_rol') == 2 %}{{ url_for('Empleado') }}{% elif session.get('id_rol') == 3 %}{{ url_for('Cliente') }}{% endif %}{% else %}{{ url_for('home') }}{% endif %}">
                                        <i class="iconoos bi bi-house-door"></i>
                                            <span class="textoos">Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('Citas')}}">
                                        <i class="iconoos bi bi-envelope"></i>
                                            <span class="textoos">Citas</span>
                                    </a>
                                </li>
                                <li  >
                                    <a href="#">
                                        <i class="iconoos bi bi-box2"></i>
                                            <span class="textoos">Inventario</span>
                                        <i class="flecha bi bi-caret-down"></i>
                                    </a>
                                    <ul class="sub-menu1">
                                        <li>
                                            <a href="{{ url_for('inventario')}}">
                                                <span class="textoos">Inventario</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('Entradas') }}">
                                                <span class="textoos">Ver entradas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('Salidas') }}">
                                                <span class="textoos">Ver salidas</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ url_for('Novedades') }}">
                                                <span class="textoos">Ver novedades</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="iconoos bi bi-journal-bookmark-fill"></i>
                                            <span class="textoos">Catálogo</span>
                                        <i class="flecha bi bi-caret-down"></i>
                                    </a>
                                    <ul class="sub-menu1">
                                        <li>
                                            <a href="{{ url_for('Home_Catalogo') }}">
                                                <span class="textoos">Inicio</span>
                                            </a>
                                        </li>
                                        {% if 'logueado' in session and session['logueado'] %}
                                        {% if session.get('id_rol') != 3 %}
                                        <li>
                                            <a href="{{ url_for('product_actions') }}">
                                                <span class="textoos">Administrar producto</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        {% endif %}
                                        {% if session.get('id_rol') != 1 %}
                                            <li>
                                                <a href="{{ url_for('cart') }}">
                                                    <span class="textoos">Carrito</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if session.get('id_rol') != 3 %}
                                        <li>
                                            <a href="{{ url_for('ver_clientes') }}">
                                                <span class="textoos">Productos apartados</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </li>
                                <li class="activeos">
                                    <a href="{{ url_for('Registrar_Empleado')}}" >
                                        <i class="iconoos bi bi-people-fill"></i>
                                            <span class="textoos">Agregar empleado</span>
                                    </a>
                                </li>
                                                        <li>
                            {% if session.get('id_rol') != 3 %}
                            <a href="{{ url_for('RedirigirClientes')}}">
                                <i class="iconoos bi bi-person-badge-fill"></i>
                                    <span class="textoos">Clientes</span>
                            </a>
                            {% endif %}
                        </li>
                            </ul>
                        </div>
                        <div class="menu1">
                            <p class="title1">Cuenta</p>
                            <ul>
                                <li >
                                    <a href="{{ url_for('actualizar_cuenta')}}">
                                        <i class="iconoos i bi-person"></i>
                                            <span class="textoos">Perfil</span>
                                    </a>
                                </li>
                                <li >
                        </div>
                    </div>
                    <div class="menu1">
                        <p class="title1">Ajustes</p>
                        <ul>
                            <li>
                                <a href="{{ url_for('logout') }}">
                                    <i class="iconoos bi bi-box-arrow-left"></i>
                                    <span class="textoos">Cerrar sesión</span>
                                </a>
                            </li>
                    </div>
                </div>
            </div>
        <div class="demo-html">
            <section id="Modulos-cita">
                <div class="modulosos">
                    <div class="col-md-12">
                    <div class="row">
                        <div class="main--content">
                            <div class="cabecera">
                                <div class="cabecera-titulo">
                                    <h1>AGREGAR EMPLEADO</h1>
                                </div>
                                <div class="icono-usuario">
                                    <div class="iconosisi pl-sm-4 pl-2">
                                        <i class="iconososo bi bi-person-add"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            <div class="table-responsive">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h2>Lista de empleados</h2>
                            </div>
                            <div class="col-sm-6">
                                <div>
                                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modalAgregarempleado">
                                        Agregar empleado
                                    </button>
                                </div> 
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-success alert-dismissable" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                    </div> 
                            <!-- Modal para agregar producto -->
        <div id="modalAgregarempleado" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="text-center w-100">
                        <h5 class="tytu modal-title text-primary">Ingresa un nuevo empleado</h5> 
                        </div> 
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('Registrar_Empleado') }}" method="POST">
                        <div class="row py-2">
                            <div class="form-group col-md-6">
                                <label for="correo">Correo:</label>
                                <input type="email" name="correo" class="form-control" id="correo" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dias_trabajo">Días de Trabajo:</label>
                                <input type="text" name="dias_trabajo" class="form-control" id="dias_trabajo" required>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="form-group col-md-6">
                                <label for="horario_trabajo">Horario de Trabajo:</label>
                                <input type="text" name="horario_trabajo" class="form-control" id="horario_trabajo" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Contraseña:</label>
                                <input type="password" name="password" class="form-control" id="password" required>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="form-group col-md-6">
                                <label for="nombre">Nombre:</label>
                                <input type="text" name="nombre" class="form-control" id="nombre" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="apellido">Apellido:</label>
                                <input type="text" name="apellido" class="form-control" id="apellido" required>
                            </div>
                        </div>
                        <div class="row py-2"> 
                            <div class="form-group col-md-12">
                                <label for="telefono">Telefono:</label>
                                <input type="text" name="telefono" class="form-control" id="telefono" required>
                            </div>
                        </div>   
                        <div class="botoncito text-center w-100">
                            <div class="custom-buttons">
                            <button type="submit" class="custom-btn" id="custom-success" class="bete btn btn-primary">Registrar</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>    
                    <table id="example" class="table table-hover  dt-responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Correo</th>
                                <th>Días de Trabajo</th>
                                <th>Horario de Trabajo</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Teléfono</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for empleado in empleados %}
                            <tr>
                                <td>{{ empleado['correo'] }}</td>
                                <td>{{ empleado['dias_trabajo'] }}</td>
                                <td>{{ empleado['horario_trabajo'] }}</td>
                                <td>{{ empleado['nombre'] }}</td>
                                <td>{{ empleado['apellido'] }}</td>
                                <td>{{ empleado['telefono'] }}</td>
                                <td>
                                    <div class="button-container">
                                        <a class="edit2" href="/Update_Empleado/{{ empleado['id'] }}" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#modaledit{{ empleado['id'] }}"> <i class="bi bi-pencil-square"></i></a>
                                        <div class="custom-buttons">
                                            <button class="custom-btn" id="custom-error" onclick="eliminarEmpleado('{{ empleado['id'] }}')"><i class="bi bi-trash"></i></button> 
                                        </div>
                                    </div>
                                </td>
                            </tr>
                <!-- Modal para actualizar al empleado-->
                <div id="modaledit{{ empleado['id'] }}" class="modal fade" role="dialog">
                    <div class="modal-dialog  modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="text-center w-100">
                                    <h5 class="tytu modal-title text-primary">Detalles del empleado para editar</h5>
                                </div>
                            </div>
                            <div class="modal-body">
                                <form action="{{ url_for('Update_Empleado') }}" method="POST">
                                    <input type="hidden" name="id" value="{{ empleado['id'] }}">
                                <div class="row py-2">
                                    <div class="form-group col-md-6">
                                        <label>Correo:</label>
                                        <input value="{{ empleado['correo'] }}" type="email" name="correo" class="form-control" id="exampleFormControlInput1" placeholder="Correo" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="dias_trabajo">Días de Trabajo:</label>
                                        <input value="{{ empleado['dias_trabajo'] }}" type="text" name="dias_trabajo" class="form-control" id="dias_trabajo" required>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="form-group col-md-6">
                                        <label for="horario_trabajo">Horario de Trabajo:</label>
                                        <input value="{{ empleado['horario_trabajo'] }}"type="text" name="horario_trabajo" class="form-control" id="horario_trabajo" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Nombre:</label>
                                        <input value="{{ empleado['nombre'] }}" type="text" name="nombre" class="form-control" id="exampleFormControlInput1" placeholder="Nombre" required>
                                    </div>
                                </div>
                                <div class="row py-2">
                                    <div class="form-group col-md-6">
                                        <label>Apellido:</label>
                                        <input value="{{ empleado['apellido'] }}" type="text" name="apellido" class="form-control" id="exampleFormControlInput1" placeholder="Apellido" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Telefono:</label>
                                        <input value="{{ empleado['telefono'] }}" type="number" name="telefono"  class="form-control" id="exampleFormControlInput1" placeholder="Telefono" required>
                                    </div>
                                </div>
                                <div class="botoncito text-center w-100">
                                    <div class="custom-buttons">
                                    <button type="submit" class="custom-btn" id="custom-info" class="bete btn btn-success mb-2">Actualizar</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                        </tbody>
                    </table>
        </div>
        </div>
    </section>
        </div>
        </div>
    </div>
</div>
<script>
    // Función para guardar los datos en el almacenamiento local
    const saveDataToLocalStorage = () => {
        // Guardar los datos relevantes en el almacenamiento local
        localStorage.setItem('customNotifications', notifications.innerHTML);
    };

    // Función para cargar los datos desde el almacenamiento local
    const loadDataFromLocalStorage = () => {
        // Obtener los datos guardados del almacenamiento local
        const savedNotifications = localStorage.getItem('customNotifications');
        // Verificar si hay datos guardados
        if (savedNotifications) {
            // Establecer los datos guardados en el elemento de notificaciones
            notifications.innerHTML = savedNotifications;
        }
    };

    const notifications = document.querySelector(".custom-notifications"),
        buttons = document.querySelectorAll(".custom-buttons .custom-btn");

    const toastDetails = {
        timer: 2000, // Duración de la notificación en milisegundos
        success: {
            icon: 'fa-circle-check',
            text: 'Exito: Se ha registrado un nuevo empleado.',
        },
        error: {
            icon: 'fa-circle-xmark',
            text: 'Eliminado: Se ha eliminado un producto',
        },
        warning: {
            icon: 'fa-triangle-exclamation',
            text: 'Atención: Se ha agregado un producto al catalogo.',
        },
        info: {
            icon: 'fa-circle-info',
            text: 'Exito: Se ha actualizado un empleado.',
        }
    }

    const removeToast = (toast) => {
        setTimeout(() => {
            toast.remove();
            saveDataToLocalStorage(); // Guardar los datos actualizados en el almacenamiento local
        }, 1000); // Removing the toast after 1 second
    }

    const createToast = (id) => {
        // Getting the icon and text for the toast based on the id passed
        const { icon, text } = toastDetails[id];
        const toast = document.createElement("li"); // Creating a new 'li' element for the toast
        toast.className = `custom-toast ${id}`; // Setting the classes for the toast
        // Setting the inner HTML for the toast
        toast.innerHTML = `<div class="column">
                            <i class="fa-solid ${icon}"></i>
                            <span>${text}</span>
                        </div>
                        <i class="fa-solid fa-xmark" onclick="removeToast(this.parentElement)"></i>`;
        notifications.appendChild(toast); // Append the toast to the notification ul
        // Setting a timeout to remove the toast after the specified duration
        setTimeout(() => {
            removeToast(toast);
        }, toastDetails.timer);
        saveDataToLocalStorage(); // Guardar los datos actualizados en el almacenamiento local
    }
    // Adding a click event listener to each button to create a toast when clicked
    buttons.forEach(btn => {
        btn.addEventListener("click", () => createToast(btn.id.replace("custom-", "")));
    });
    // Cargar datos almacenados al cargar la página
    window.addEventListener('load', () => {
        loadDataFromLocalStorage();
        // Eliminar las notificaciones guardadas después de un segundo
        setTimeout(() => {
            notifications.innerHTML = '';
            saveDataToLocalStorage(); // Guardar los datos actualizados en el almacenamiento local
        }, 2000);
    });
</script>
<script>
        function eliminarEmpleado(id) {
            fetch(`/Delete_Empleado/${id}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    location.reload(); 
                } else {
                    response.json().then(data => {
                        console.error('Error al eliminar el empleado:', data);
                    });
                }
            })
            .catch(error => {
                console.error('Error de red:', error);
            });
        }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>   
<script>
    $(".menu1 > ul > li").click(function(e){
        //quitar el active para los que ya estan activos
        $(this).siblings().removeClass("activeos")
        //poner el active al darle clic
            $(this).toggleClass("activeos");
        //para abrir sub-menu
            $(this).find("ul").slideToggle();
        //cerrar submenu en caso de haber dos
            $(this).siblings().find("ul").slideup();
        //remover el active de los submenus
            $(this).siblings().find("ul").find("li").removeClass("activeos");
                    // ajustar el ancho del container1 cuando está activo
    });

    $(".menu1-boton").click(function () {
        $(".sidebar1").toggleClass("activeos");
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#example').DataTable({
            responsive: true,
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
</script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.3.0/js/responsive.bootstrap5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>
</html>
